
<% @user.photos.each do |photo| %>
<div class="container">
  <div class="col-md-6">
    <div class="thumbnail">

      <img src="<%= photo.image %>">


      <div class="caption">
        <a href="http://localhost:3000/photos/<%= photo.id %>" class="btn btn-default btn-block">
          Detail
        </a>

        <a href="http://localhost:3000/photos/<%= photo.id %>/edit" class="btn btn-default btn-block">
          Edit
        </a>

        <a href="http://localhost:3000/delete_photo/<%= photo.id %>" class="btn btn-default btn-block">

          <!--<%= link_to "Delete", "http://localhost:3000/delete_photo/#{photo.id}", :data => { :confirm => "Are you sure you want to kill this photo?" } %>-->
          Delete
        </a>

      </div>
    </div>
  </div>
</div>
<% end %>
